h1 {
  font-family: sans-serif
}
h2 {
  font-family: cursive,fantasy,monospace,san-serif,serif;
}
ul {
  font-family: sans-serif
}
ul {color: teal;}
q,
blockquote{
  background: lightgreen;
  color: darkgreen;
}
/*Flexible Images*/
img{
max-width:100%;
Height:auto;
}
